<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 1</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, a?
        Veritatis, odit praesentium quia aperiam reprehenderit cupiditate et
        perspiciatis, minima sed libero rerum porro corrupti rem blanditiis
        voluptates aspernatur vel.
      </p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 2</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, a?
        Veritatis, odit praesentium quia aperiam reprehenderit cupiditate et
        perspiciatis, minima sed libero rerum porro corrupti rem blanditiis
        voluptates aspernatur vel.
      </p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 3</h1>
        -
        <h3>(years)</h3>
      </li>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque, a?
        Veritatis, odit praesentium quia aperiam reprehenderit cupiditate et
        perspiciatis, minima sed libero rerum porro corrupti rem blanditiis
        voluptates aspernatur vel.
      </p>
    </ul>
  </div>
</div>
